/* Error: unmatched "}".
 *      ,
 * 1370 | }
 *      | ^
 *      '
 *   public/assets/scss/components/_hero.scss 1370:1  @forward
 *   public/assets/scss/components/_index.scss 3:1    @forward
 *   public/assets/scss/main.scss 13:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: unmatched "}".\a      \2577 \a 1370 \2502  }\a      \2502  ^\a      \2575 \a   public/assets/scss/components/_hero.scss 1370:1  @forward\a   public/assets/scss/components/_index.scss 3:1    @forward\a   public/assets/scss/main.scss 13:1                root stylesheet';
}
